.basket__full {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.basket__item:last-child {
  border-bottom: none;
}

.basket {
  transition: transform 0.3s ease;
}

.basket__wrapper {
  transition: transform 0.25s ease;
  transition-delay: 0.1s;
}

.basket[data-state="close"] {
  transform: translateX(110%);

  & .basket__wrapper {
    transform: translateX(100%);
  }
}

.basket[data-state="open"] {
  transform: translateX(0%);

  & .basket__wrapper {
    transform: translateX(0%);
  }
}
