.container--black {
  background-color: black;
  color: white;

  // ГЛАВНАЯ + header/footer
  & .header {
    background-color: black;
    & .header__wrap {
      border-color: #333;
    }
    & .header__svg path {
      fill: white;
    }
    @media (min-width: 768px) {
      & .header__item {
        color: #9A9A9A;
      }
    }
    & .header__basket {
      color: white;
    }
    & .header__line {
      background-color: white;
    }
  }
  & .header--menu-open {
    background-color: white;

    & .header__svg path {
      fill: black;
    }
    & .header__list {
      background-color: white;
    }
    @media (max-width: 767px) {
      & .header__item {
        color: black;
      }
    }
    & .header__line {
      background-color: black;
    }
  }
  & .main-title svg path {
    fill: white;
  }
  & .main-title, & .catalog, & .desc, & .bio, & .footer, & .info {
    border-color: #333333;
  }
  & .shop, & .catalog__title, & .catalog__cost, & .collection__prev, & .footer, & .footer__mail, & .footer__link {
    color: #9A9A9A;
  }
  & .preview__link {
    color: white;
  }
  & .desc__btn {
    border-color: white;
  }
  & .catalog__item, & .desc__btn, & .info__mail {
    color: white;
  }
  & .bio__link {
    color: #666;
  }
  & .controls__svg path {
    stroke: #fff;
  }
  & .controls__btn {
    &--disabled {
      & svg path {
        stroke: #666;
      }
    }
  }

  // КОРЗИНА
  & .basket, & .basket__footer, & .basket--order, & .basket__footer--order {
    color: black;
    background-color: white;
  }
  & .basket__name, & .basket__title, & .basket__name--order {
    color: black;
  }
  & .basket__footer-btn {
    color: white;
    background-color: black;
  }
  & .basket__close-btn {
    color: black;
  }
  & .basket__minus, & .basket__plus {
    & svg path {
      fill: #888;
    }
  }


  // CARD
  & .card {
    border-color: #333333;
  }
  & .card__btn {
    background-color: white;
  }


  // ORDER
  & .order__field {
    color: white;
    border-color: white;

    &::placeholder {
      color: #9A9A9A;
    }
    &[data-state="invalid"] {
      border-color: #ff1414;
    }
  }
  & .order__checkbox {
    border-color: white;
    & svg path {
      stroke: white;
    }
  }
  & .order__cb-group, & .order__link {
    color: white;
  }
  & .basket__delete svg path {
    stroke: black;
  }
  & .basket__cost-group {
    border: none;
  }
  & .footer__eng {
    color: white;
  }
  & .card__link {
    color: #9A9A9A;
  }
  & .card__emb svg path {
    stroke: #9A9A9A;
  }
  & .header--order {
    & .header__wrap {
      border-color: #C4C4C4;
    }
  }
}

.header--menu-open {
  & .selector__theme {
    background-color: white;

    &::after {
      background-color: black;
    }
  }

  & .selector__active {
    background-color: black;

    &::after {
      background-color: white;
    }
  }
}

.selector__theme {
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: translateY(-50%);
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
  }
}

.selector__active {
  background-color: white;

  &::after {
    background-color: black;
    transform: translate(40px, -50%);
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .selector__active {
    &::after {
      transform: translate(28px, -50%);
    }
  }
}

@media (max-width: 767px) {
  .selector__theme {
    &::after {
      width: 13px;
      height: 13px;
    }
  }

  .selector__active {
    &::after {
      transform: translate(20px, -50%);
    }
  }
}
