.order__checkbox {
  &::before {
    content: '';
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 11px;
    height: 6px;
    box-sizing: border-box;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
  }
}

.order__cb-group[data-state="check"] {
  & .order__checkbox .order__checkbox-svg {
    display: flex;
  }
}

.order__field[data-state="invalid"] {
  border-color: rgb(255, 20, 20);
}
.order__field[data-state="valid"] {
  border-color: rgb(0, 0, 0);
}

.order__btn {
  pointer-events: none;
}

.order__btn[data-state="order"] {
  pointer-events: all;
  cursor: pointer;
  background-color: #00C74F;

  & .order__btn-wrap {
    display: inline;
  }
}