.card__item:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.card[data-state="soldout"] {
  & .card__cost, & .card__btn {
    display: none;
  }

  & .card__track, & .card__soldout {
    display: block;
  }
}

.card[data-contract="contract"] {
  & .card__btn {
    display: none;
  }
  & .card__soldout {
    display: block;
  }
}

.catalog__item[data-soldout="soldout"] {
  & .catalog__soldout {
    display: block;
  }
  & .catalog__cost {
    display: none;
  }
}