@media (min-width: 992px) {
  .card__small-img {
    transition: opacity 0.2s ease;
  
    &:hover {
      opacity: 0.4;
    }
  }
  .card__small-img[state="enable"] {
    opacity: 0.4;
  }
  
  .desc__title {
    // transition: text-decoration 0.2s ease;
    &:hover {
      text-decoration: underline;
    }
  }
}
