.controls {
  pointer-events: none;
}

.controls__btn {
  pointer-events: all;
}

.controls__btn--disabled {
  pointer-events: none;

  & svg path {
    stroke: #9A9A9A;
  }
}

.collection__text-wrap {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.swiper-slide-active .collection__text-wrap {
  opacity: 1;
}

@media (min-width: 2000px) {
  .controls {
    top: 68%;
  }
}

